body {
	font-family: Helvetica, sans-serif;
	margin: 0 auto;
}
.container {
	margin: 0 10%;
}
h1 {
	font-size: 2.8rem;
	font-weight: bold;
	text-align: center;
}
h2, h3 {
	padding: 0;
	text-align: center;
	width: 24.75%;
	display: inline-block;
}
h2 {
	font-size: 2rem;
}
h3 {
	font-size: 1.75rem;
	line-height: 4rem;
	width: 48%;
	padding-right: 2%;
	vertical-align: middle;
}
a {
	text-decoration: none;
	color: #000000;
}
a:hover {
	color: #ecf0f1;
}
.columns {
	margin: 0;
	margin-left: 2%;
	-webkit-column-count: 2;
	-webkit-column-gap: .5%;
	-webkit-column-width: 23%;
	width: 47%;
	display: inline-block;
	vertical-align: bottom;
}
p {
	line-height: 1.5rem;
	display: inline-block;
	width: 100%;
}
img {
	width: 47%;
	border-radius: 5px;
}
figure {
	display: inline-block;
	width: 49%;
	margin: 1rem 0;
	padding-bottom: 1rem;
	text-align: center;
	border-bottom: 4px solid #7f8c8d;
}
figure img {
	display: inline-block;
	margin: 0 auto;
}
figcaption {
	text-align: center;
	display: block;
	font-size: 1.25rem;
}
.q {
	font-size: 1.75rem;
	color: #7f8c8d;
	font-style: italic;
	display: inline-block;
	width: 74.75%;
}
ol {
	text-align: center;
	background: #bdc3c7;
	border-radius: 5px;
	padding-left: 0;
	width: 100%;
}
li {
	list-style: none;
	display: inline-block;
	width: 24.7%;
	font-size: 1.25rem;
	margin: .5rem 0;
	padding: 0;
}
.bio {

}
.rule {
	border-top: 4px solid #7f8c8d;
	padding: 1rem;
	width: 100%;
}
.details {
	width: 48%;
	line-height: 2rem;
	text-align: left;
	vertical-align: middle;
}
.examples {
	width: 100%;
	margin: 0;
}